body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.logo-header {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.logo-first {
  color: #2e2f42;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.link-header:hover,
.link-header:focus {
  color: #404bbf;
}

.studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  content: "";
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
}
.address {
  font-style: normal;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.link-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

/* #endregion header */

/* #region Effective Solutions for Your Business */

.section-first {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 1440px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.main-title-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  background: #4d5ae5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

/* #endregion Effective Solutions for Your Business */

/* #region benefits */

.section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-list-item {
  width: calc((100% - 72px) / 4);
}

.section-list-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.benefits-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion benefits */

/* #region Our Team */

.section-team {
  background-color: #f4f4fd;
}

.section-team-list {
  display: flex;
  gap: 24px;
}

.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-info {
  padding: 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-ulist {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-ulist-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.team-ulist-item:hover,
.team-ulist-item:focus {
  background-color: #404bbf;
}

.team-ulist-link {
}

.ulist-item-img {
  fill: #f4f4fd;
}

/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay-text {
  transform: translatey(0);
}

.portfolio-third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion Our Portfolio */
/* #region footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  gap: 120px;
}
.footer-title {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-second {
  color: #f4f4fd;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-list-item {
}
.footer-list-item-link {
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}

.footer-list-item-link:hover,
.footer-list-item-link:focus {
  background-color: #31d0aa;
}

.footer-list-item-svg {
  fill: #f4f4fd;
}

/* #endregion footer */
