body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
  max-width: 320px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .section {
    max-width: 1440px;
  }
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: none;
}

.logo-header {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-first {
  color: #2e2f42;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-header:hover,
.link-header:focus {
  color: #404bbf;
}

.studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  content: "";
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
}
.address {
  display: none;
}

.link-address {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-btn-svg {
  fill: #2f2f37;
  display: block;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
    display: inline-block;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .link-header {
    padding: 24px 0;
    display: block;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-address:hover,
  .link-address:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}
/* #endregion header */

/* #region mobile-menu  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-cont {
  height: 100%;
  position: relative;
  padding: 72px 0 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-close {
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #2e2f42;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-nav {
  margin-bottom: 168px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-nav-list-item {
}

.mobile-nav-list-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.active-nav {
  color: #404bbf;
}

.mobile-info {
}

.mobile-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-info-list-item {
}

.mobile-info-list-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.active-info {
  color: #4d5ae5;
}

.mobile-social {
  margin-top: 48px;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  border: none;
  padding: 8px;
}

.social-svg {
  fill: #f4f4fd;
}

.social-svg {
}

.mobile-social-list-item-link {
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile-menu */

/* #region Effective Solutions for Your Business */

.section-first {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) and (min-resolution: 2x) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-mobile@2x.jpg);
  }
}
.main-title {
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-title-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  background: #4d5ae5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tab.jpg);
    min-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desk.jpg);
    min-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-title {
    margin-bottom: 48px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desk@2x.jpg);
  }
}
/* #endregion Effective Solutions for Your Business */

/* #region benefits */

.section-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.section-list-item-img {
  display: none;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.benefits-second-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
  }

  .section-list-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-second-title {
    text-align: start;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .section-list {
    gap: 24px;
  }

  .section-list-item {
    width: calc((100% - 72px) / 4);
  }

  .section-list-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-paragraph {
    font-weight: 400;
  }
}
/* #endregion benefits */

/* #region Our Team */

.section-team {
  background-color: #f4f4fd;
}

.section-team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.team-list {
  background-color: #ffffff;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
  width: 100%;
}

.team-list-item-info {
  padding: 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-ulist {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-ulist-item {
  width: 40px;
  height: 40px;
}

.team-ulist-item:hover,
.team-ulist-item:focus {
  background-color: #404bbf;
}

.team-container {
  padding: 0 28px;
}

.team-ulist-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-ulist-link:hover,
.team-ulist-link:focus {
  background-color: #404bbf;
}

.ulist-item-img {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .section-team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    flex-direction: row;
    margin: 0 auto;
  }

  .team-list {
    width: calc((100% - 24px) / 2);
  }

  .team-container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .section-team-list {
    gap: 24px;
  }

  .team-list {
    width: calc((100% - 72px) / 4);
  }

  .team-container {
    padding: 0 15px;
  }
}
/* #endregion Our Team */

/* #region portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-list-item-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item:hover .overlay-text {
    transform: translatey(0);
  }
}

/* #endregion portfolio */

/* #region footer */

.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-logo {
  display: inline-block;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer-info-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 500;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
}

.footer-social-media-list-item {
  background: none;
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-form-item-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-bottom: 8px;
  color: #ffffff;
  opacity: 0.3;
  outline: none;
}

.footer-form-item-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}

.footer-form-btn {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  font-family: inherit;
}

.footer-foem-btn-svg {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0 108px;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-social-media {
    align-items: flex-start;
  }

  .footer-form-container {
    align-items: flex-start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-item-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    gap: 0;
    flex-wrap: nowrap;
    padding: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-social-media {
    margin-right: 80px;
  }

  .footer-social-media-link:hover,
  .footer-social-media-link:focus {
    background-color: #31d0aa;
  }

  .footer-form-item-input {
    width: 288px;
    opacity: 1;
  }

  .footer-form-item-input::placeholder {
    opacity: 1;
  }
}

/* #endregion footer */

/* #region overlay */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0;
  fill: #2e2f42;
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-form-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-family: inherit;
  display: block;
  margin-bottom: 4px;
}

.modal-form-item-input-cont {
  position: relative;
}

.modal-form-item-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  transition: border-color 250mscubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item-input:focus,
.modal-form-item-input:hover {
  border-color: #4d5ae5;
}

.modal-form-item-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item-input:focus + .modal-form-item-svg {
  fill: #4d5ae5;
}

.modal-form-item-comment {
  margin-bottom: 16px;
}

.modal-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-form-item-input-check {
}

.modal-form-item-input-check:checked
  + .modal-form-checkbox-item
  .modal-form-checkbox-img {
  border: transparent;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-form-checkbox-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 360px;
  height: 16px;
  cursor: pointer;
}

.modal-form-checkbox-img {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-svg {
}

.modal-form-checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-btn {
  border-radius: 4px;
  /* padding: 16px 32px; */
  min-width: 169px;
  height: 56px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
}

/* #endregion overlay */
